  <!--Navbar div -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">

  	<li class="navbar-brand" style="
    padding-left: 40px;
    padding-right: 40px;">SmartProvider</li>
    <li><%= link_to "New Client", new_client_path %></li>
     <li><%= link_to "My Account", user_path(@current_user) %></li>
   </ul>


</div>
<div class="container">
	<h1>Latest Activity</h1>
	<p>What is going on with your clients</p>
	<div class="row-fluid">
		<div class="span6">
			<h3>Notes</h3>
			<table class="table" style="width:70%; float:left;">
				<tbody>
					<tr>
						<td><b>Client<b></td>
						<td><b>Title<b></td>
						<td><b>Note<b></td>
						<td><b>Date<b></td>
					</tr>
					<% @notes.each do |note| %>
					<tr>
						<td><%= link_to note.client.first_name, client_path(note.client) %></td>
						<td><%= note.title %></td>
						<td style="width:400px;"><%= note.description %></td>
						<td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="span2" style="float: right;">
			<h3>
				Follow-ups
			</h3>
			<label class="checkbox">
				<input type="checkbox">
				Remember me
			</label>
		</div>
	</div>
	</div>
	<hr>
</div>
<!-- /container -->


