<div class="container">
  <div class="map_container" style="background-image:url('<%= asset_path "tablet.jpg" %>'); height:300px; background-size:100%;">
  </div>
  <h1>Latest Notes</h1>
 	<%= render "layouts/client_dashboard" %>
 	<hr>
  <br /> <br />

  <div class="row"> 
   <div class="col-lg-8" style="float:left;">
		<% @current_user.clients.reverse.each do |client| %>
		<% client.notes.reverse.each do |note| %>    
				<div class="photo">
					<%= image_tag client.image %>
				</div>
				<div class="span6">
					<% full_name = client.first_name + " " + client.last_name %>
					<b><%= link_to full_name, client_path(client)%></b></br>
					<b>Title:</b> <%= link_to note.title, note_path(note) %><br />
					<b>Note:</b>
					<%= note.description %></br>
					<b>Created at:</b> <%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
					<br /><br /><br />
					<hr>
				</div>
		<% end %> 
		<% end %>
		</div>

    <div class="col-lg-3 well" style="float:right;">
      <h4>My Follow-ups</h4>
      <table class="table">
        <tbody>
          <% @current_user.follow_ups.reverse.each do |follow_up| %>
            <% if follow_up.completed == false %>
              <tr data-task-id="<%= follow_up.id %>">
                <td class="complete-task">
                  <a href="#"><span class="glyphicon glyphicon-check" style="margin-right: 5px;"></span></a> <%= follow_up.task %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>  
</div>
<br>
<br>

<script>
  $('.nav a:contains("Notes")').parent().addClass('active');
</script>
<%= yield :scripts %>



