
<h1><%= @note.title %></h1>
<div><%= @note.description %></div>
<div><%= @note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></div>

<br>

<div><%= render 'follow_ups/form' %></div>
<br>

<% @note.follow_ups.each do |follow_up| %>
  <div><%= follow_up.task %><div>
<% end %>



