
<h1><%= @note.title %></h1>
<div><%= @note.description %></div>
<div><%= @note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></div>

<br>

<%= form_for :follow_up, url: note_follow_ups_path(@note), html: {method: :post} do |f| %>

<div>
  Task: <%= f.text_field :task %>
</div>
<div>Assigned to: 
  <%= select_tag 'user_id', options_from_collection_for_select(User.all, "id", "first_name") %></div>

<div><%= f.submit "Save", class: "btn btn-small btn-primary"%></div>
<% end %>
<br>

<% @note.follow_ups.each do |follow_up| %>
  <div><%= follow_up.task %><div>
<% end %>



