<div class="container">
  <img src="<%= asset_path "followup.jpg" %>" alt="Nurse" width="100%" height="300">
  <h1>Latest Follow-ups</h1>
  <%= render "layouts/client_dashboard" %>
  <hr>
  <br /> <br />

  <div class="row">    
    <div class="col-lg-8" style="float:left;">
      <table class="table" >
        <p>What is going on with my clients</p>
        	  <h3>Follow-ups</h3>
				<tbody>
				  <tr>
						<td><b>Task<b></td>
						<td><b>Note<b></td>
						<td><b>Client<b></td>
						<td><b>Completed<b></td>
						<td><b>Date Created<b></td>
					</tr>
						<% @follow_ups.reverse.each do |follow_up| %>
					<tr>
						<td><%= follow_up.task %></td>
						<td><%= link_to follow_up.note.title, client_note_path(follow_up.note.client_id, follow_up.note_id) %></td>
						<td><%= link_to "#{follow_up.note.client.first_name} #{follow_up.note.client.last_name}", client_path(follow_up.note.client) %></td>
						<% if follow_up.completed %>
              <td><span class="glyphicon glyphicon-check" style="color: green; margin-left:30px;"></span></td>
            <% else %>
              <td><span class="glyphicon glyphicon-unchecked" style="color: red; margin-left:30px;"></span></td>
            <% end %>
						<td><%= follow_up.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>

          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 well" style="float:right;">
      <h4>My Follow-ups</h4>
      <table class="table">
        <tbody>
          <% @current_user.follow_ups.reverse.each do |follow_up| %>
            <% if follow_up.completed == false %>
              <tr data-task-id="<%= follow_up.id %>">
                <td class="complete-task">
                  <a href="#"><span class="glyphicon glyphicon-check" style="margin-right: 5px;"></span></a> <%= follow_up.task %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>  
  </div>  
</div>
<br>
<br>

<script>
  $('.nav a:contains("Follow-ups")').parent().addClass('active');
</script>

<%= yield :scripts %>
