
	<%= form_for @user do |f| %>
	<%= f.error_messages %>
	
	<div>
	  <%= f.label :first_name %>
	  <br>
	  <%= f.text_field :first_name %>
	</div>

	<div>
	  <%= f.label :last_name %>
	  <br>
	  <%= f.text_field :last_name %>
	</div>

	<div>
	  <%= f.label :designation %>
	  <br>
	  <%= f.text_field :designation %>
	</div>

	<div>
		<%= f.label :phone %>
		<br>
		<%= f.phone_field :phone %>
	</div>

	<div>
		<%= f.label :email %>
		<br>
		<%= f.email_field :email %>
	</div>

	<div>
		<%= f.label :password %>
		<br>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.label :password_confirmation %>
		<br>
		<%= f.password_field :password_confirmation %>
	</div>

	<br>
	<div>
		<%= f.submit "Create Account", class: "btn btn-success" %>
	</div>

	<% end %>

	<hr>
	<div class="footer">
		<p>
			© SmartProvider 2013
		</p>
	</div>


