<div class = "container"> <%= gmaps4rails(@json) %> </div>
<div class="container">
  <h1>Latest Activity</h1>
  <%= render "layouts/client_dashboard" %>
  <hr>
  <br /> <br />

  <div class="row">    
    <div class="col-lg-8" style="float:left;">
      
      <table class="table" >
        <p>What is going on with my clients</p>
        <h3>Notes</h3>
        <tbody>
          <tr>
            <td><b>Client<b></td>
            <td><b>Title<b></td>
            <td><b>Note<b></td>
            <td><b>Date<b></td>
          </tr>
            <% @current_user.clients.each do |client| %>
            <% client.notes.each do |note| %>
          <tr>
            <td><%= link_to note.client.first_name, client_path(note.client) %></td>
            <td><%= note.title %></td>
            <td style="width:400px;"><%= note.description %></td>
            <td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
          </tr>
            <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 well" style="float:right;">
      <h4>My Follow-ups</h4>
      <table class="table">
        <tbody>
          <tr>
            <td><b>Task<b></td>
            <td><b>Complete<b></td>
          </tr>
            <% @current_user.follow_ups.each do |follow_up| %>
          <tr data-task-id="<%= follow_up.id %>">
            <td class="complete-task">Click</td>
            <td><%= follow_up.task %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  </div>  
</div>
<br>
<br>

<script>
  $('.nav a:contains("Feed")').parent().addClass('active');
</script>
