<h1>Welcome to SmartProvider!</h1>

<h3>Sign up for an account today!</h3>

<%= form_for @user do |f| %>
	<%= f.error_messages %>
	
	<div>
	  <%= f.label :first_name %>
	  <%= f.text_field :first_name %>
	</div>

	<div>
	  <%= f.label :last_name %>
	  <%= f.text_field :last_name %>
	</div>

	<div>
	  <%= f.label :designation %>
	  <%= f.text_field :designation %>
	</div>

	<div>
		<%= f.label :phone %>
		<%= f.password_field :phone %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.password_field :email %>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>

	<%= f.submit "Sign Up!" %>
<% end %>