<h3>Client Info</h3>
 <label class="checkbox">
  <div>
    <b class="text-left">Follow-ups</b>
  </div>
  <% @client.notes.each do |note| %>
    <% unless note.follow_ups == nil %>
  <input type="checkbox"><%= note.follow_ups.first.task %></label>
    <hr>
    <% end %>
  <% end %>
  <p><b>Health Card: </b><%= @client.hcn %></p>
  <p><b>Physician: </b><%= @client.physician %></p>
  <p><b>Physician Phone: </b><%= @client.physician_phone %></p>
  <p><b>Diagnosis: </b><%= @client.diagnosis %></p>
  <p><b>Advanced Directives: </b><%= @client.advanced_directives %></p>
  <p><b>Address: </b><%= @client.address %></p>
  <p><b>Contact: </b><%= @client.contact_name %></p>
  <p><b>Contact Relationship: </b><%= @client.contact_relationship %></p>
  <p><b>Contact Phone: </b><%= @client.contact_phone %></p>
  <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png"
  class="pull-right">
  <%= link_to 'Edit', edit_client_path(@client), method: :get, class: "btn btn-small btn-success" %>