
<div class="col-lg-3 well" style="float:right;">
  <br>
  <div class="photo">
    <%= image_tag @client.image %>
  <div>
    <h4 style="clear: both;">Client info</h4>

    
    <p><b>Health Card:</b> <%= @client.hcn %></p>
    <p><b>Physician: </b><%= @client.physician %></p>
    <p><b>Physician Phone: </b><%= @client.physician_phone %></p>
    <p><b>Diagnosis: </b><%= @client.diagnosis %></p>
    <p><b>Advanced Directives: </b><%= @client.advanced_directives %></p>
    <p><b>Street: </b><%= @client.street %></p>
    <p><b>City: </b><%= @client.city %></p>
    <p><b>Province: </b><%= @client.province %></p>
    <p><b>Contact: </b><%= @client.contact_name %></p>
    <p><b>Contact Relationship: </b><%= @client.contact_relationship %></p>
    <p><b>Contact Phone: </b><%= @client.contact_phone %></p>
    <%= link_to 'Edit', edit_client_path(@client), method: :get, class: "btn btn-small btn-success" %>
  </div>
  <div>
  <%= render 'add_user_to_client' %>
  </div>
  <hr>
</div>

