
<div class="col-md-3" style="float:right; background-color:#eeeeee">
  <br>
  <div class="photo">
    <%= image_tag @client.image %>
 <p style="clear: both;">Client info</p>>
  <div>
    <b class="text-left">Follow-ups</b>
    <% @client.notes.each do |note| %>
  <div>
      <% note.follow_ups.each do |follow_up| %>
    <%= follow_up.task %>
    <%= follow_up.completed %>
    <%= link_to "Click to complete", follow_up_path(follow_up, follow_up: { completed: true }), method: :patch %>
  </div>
  <% end %>
  <% end %>
  </div>
  <p>Health Card: <%= @client.hcn %></p>
  <p><b>Physician: </b><%= @client.physician %></p>
  <p><b>Physician Phone: </b><%= @client.physician_phone %></p>
  <p><b>Diagnosis: </b><%= @client.diagnosis %></p>
  <p><b>Advanced Directives: </b><%= @client.advanced_directives %></p>
  <p><b>Address: </b><%= @client.address %></p>
  <p><b>Contact: </b><%= @client.contact_name %></p>
  <p><b>Contact Relationship: </b><%= @client.contact_relationship %></p>
  <p><b>Contact Phone: </b><%= @client.contact_phone %></p>
  class="pull-right">
  <%= link_to 'Edit', edit_client_path(@client), method: :get, class: "btn btn-small btn-success" %>
</div>
