<div class="container"> <%= gmaps4rails(@json) %>
  <div class="row">
    <div class="col-lg-8" style="float:left">  
  		<h1> <%= @client.first_name %> </h1>
    </div>
    <div class="col-lg-8" style="float:left">
        <label class="control-label">Add a new note</label>
        <%= form_for [@client, Note.new] do |f| %>
				<div style="width: 200px"> Title <br> <%= f.text_field :title, class: 'txtfield'%></div>
			  <div> Description <br> <%= f.text_area :description, rows: 4, cols: 80, class: 'textarea' %></div> <br>
			   <%= f.submit "Add Note", class: "btn btn-small btn-primary" %>
			<% end %>
      <br>
      <br>
      <h4>Recent Notes</h4>
				<table class="table" style="float:left;">
					<tbody>
					  <tr>
							<td><b>Title<b></td>
							<td><b>Note<b></td>
							<td><b>Date<b></td>
						</tr>
							<% @client.notes.each do |note| %>
							<tr>
								<td><%= link_to note.title, client_note_path(note.client_id, note.id) %></td>
								<td style="width:400px;"><%= note.description %></td>
								<td><%= note.created_at.strftime("%m/%d/%Y") %></td>
							</tr>
							<% end %>
					</tbody>
				</table>
			<hr>
			<h4>Recent Follow-ups</h4>
				<table class="table" style="float:left;">
					<tbody>
					  <tr>
							<td><b>Task<b></td>
							<td><b>Note<b></td>
							<td><b>Date Created<b></td>
							<td><b>Completed<b></td>
							<td><b>Click to complete!<b></td>
						</tr>
							<% @client.notes.each do |note| %>
							<% note.follow_ups.each do |follow_up| %>
						<tr>
							<td><%= follow_up.task %></td>
							<td><%= link_to follow_up.note.title, client_note_path(follow_up.note.client_id, follow_up.note_id) %></td>
							<td><%= follow_up.created_at.strftime("%m/%d/%Y") %></td>
							<td><%= follow_up.completed %></td>
							<td><%= link_to "Click to complete task", follow_up_path(follow_up, follow_up: { completed: true }), method: :patch %></td>
						</tr>
							<% end %>
							<% end %>
					</tbody>
	      </table>
				<div><h4>Vitals</h4>
					<label class="control-label well"><h4>Add new vitals:</h4>
					<% if flash[:notice] %>
						<span class="label label-success">
					  	<%= flash[:notice] %>
					  </span>
					<% elsif flash[:error] %>
						<span class="label label-danger">
					  	<%= flash[:error] %>
					  </span>
					<% end %>

					<%= render 'vitals/form' %>
		    </div>
		  </div>
			<%= render 'clients/client_info' %> 
			<br>   
  </div>
</div>


<%= yield :scripts %>
