<h1> <%= @client.first_name %> </h1>
<div class="container">
  <div class="span6" style="width:70%; float:left;">
  	<ul class="nav nav-tabs">
      <li class="active"><a href="#">Notes</a></li>
      <li><%= link_to "Vitals", new_client_vital_path(@client) %></li>
      <li><%= link_to "Vitals History", client_vitals_path(@client) %></li>
    </ul>
  </div>
  <div class="row-fluid">
    <div class="span6" style="width:60%; float:left;">
      <h3>Notes</h3>
        <label class="control-label">Add a new note:</label>
        <%= form_for [@client, Note.new] do |f| %>
				<div> Title: <br> <%= f.text_field :title%></div>
			  <div> Description: <br> <%= f.text_area :description, rows: 4, cols: 80 %></div> <br>
			   <%= f.submit "Add Note", class: "btn btn-small btn-primary" %>
			<% end %>
      <br>
      <br>
    	<div class="row-fluid">
      	<div class="span6">
          <h4>Recent Notes</h4>
				  <table class="table" style="width:70%; float:left;">
					  <tbody>
							<tr>
								<td><b>Title<b></td>
								<td><b>Note<b></td>
								<td><b>Date<b></td>
							</tr>
							<% @client.notes.each do |note| %>
							<tr>
								<td><%= note.title %></td>
								<td style="width:400px;"><%= note.description %></td>
								<td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
							</tr>
							<% end %>
					  </tbody>
				  </table>
			  </div>          
      </div>
    </div>
  <div class="span4" style="float: right;">
  <%= render 'clients/client_info' %>
    </div>
  </div>
</div>


<div>
	<%= render 'add_user_to_client' %>
</div>
