<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="float:left">  
  		<h1> <%= @client.first_name %> </h1>
    </div>
  	<%= render "layouts/client_dashboard" %>  
    <div class="col-lg-6" style="float:left">
      <h3>Notes</h3>
        <label class="control-label">Add a new note:</label>
        <%= form_for [@client, Note.new] do |f| %>
				<div> Title: <br> <%= f.text_field :title%></div>
			  <div> Description: <br> <%= f.text_area :description, rows: 4, cols: 80 %></div> <br>
			   <%= f.submit "Add Note", class: "btn btn-small btn-primary" %>
			<% end %>
      <br>
      <br>
      <h4>Recent Notes</h4>
				<table class="table" style="float:left;">
					<tbody>
					  <tr>
							<td><b>Title<b></td>
							<td><b>Note<b></td>
							<td><b>Date<b></td>
						</tr>
							<% @client.notes.each do |note| %>
							<tr>
								<td><%= link_to note.title, client_note_path(note.client_id, note.id) %></td>
								<td style="width:400px;"><%= note.description %></td>
								<td><%= note.created_at.strftime("%m/%d/%Y") %></td>
							</tr>
							<% end %>
					</tbody>
				</table>
		</div>
			<%= render 'clients/client_info' %>        
  </div>
</div>


<script>
  $('.nav a:contains("Notes")').parent().addClass('active');
</script>
Assigned Users
<% @client.users.each do |user| %>
  <div>
    <%= user.first_name %>
    <%= user.last_name %>
  </div>
<% end %>
