<div id="welcome-page">
	<div id="welcome-content">
		<div id="about-header">
		<h1 style="text-align:left;">Meet the Team!</h1>
		</div>

<div class="row" style="margin-left:-20px; padding:0px; margin-right:0px;">

	<!-- Kathleen -->
	<div class="col-lg-4 view view-first">
	<img src="<%= asset_path 'kat.jpg' %>" style="height: 538px; width: 440px;"/>
		<div class="mask">
			</br>
			<center>  
		  	<h2>Kathleen Gatti</h2>

		  	<p style="text-align: left;">
				</p>

		  	<a href="https://github.com/gattik"><img src="<%= asset_path 'github-logo.png' %>"></a>
		  	<a href="https://twitter.com/kattigatti"><img src="<%= asset_path 'twitter-logo.png' %>"></a>
				<a href="http://www.linkedin.com/pub/kathleen-gatti/78/809/210"><img src="<%= asset_path 'linkedin-logo.png' %>"></a>
			</center>
	  </div>
	</div>

	<!-- Freddy Rangel -->
	<div class="col-lg-4 view view-first">
		<img src="<%= asset_path 'freddy.jpg' %>" style="height: 538px; width: 440px;"/>
		<div class="mask">
			</br>
			<center>
		
		  	<h2>Freddy Rangel</h2>
		  	<p style="text-align: left;">
				</p>

	  		<a href="https://github.com/freddyrangel"><img src="<%= asset_path 'github-logo.png' %>"></a>
	  		<a href="https://twitter.com/frangel85/"><img src="<%= asset_path 'twitter-logo.png' %>"></a>
				<a href="http://www.linkedin.com/pub/freddy-rangel/29/323/347"><img src="<%= asset_path 'linkedin-logo.png' %>"></a>
		  </center>
		 </div>
	</div>

	<!-- Ronald Victorino -->	
	<div class="col-lg-4 view view-first">
		<img src="<%= asset_path 'ron.jpg' %>" style="height: 538px; width: 440px;"/>
		<div class="mask">
			</br>
			<center>
				<h2><a href="http://www.ronaldvictorino.com">Ronald Victorino</a></h2>
				
				<p style="text-align: left;">
				</p>

				<a href="https://github.com/ronathan"><img src="<%= asset_path 'github-logo.png' %>"></a>
				<a href="https://twitter.com/RonaldVictorino"><img src="<%= asset_path 'twitter-logo.png' %>"></a>
				<a href="http://www.linkedin.com/pub/ronald-victorino/54/1a/99b"><img src="<%= asset_path 'linkedin-logo.png' %>"></a>
			</center>
		</div>
	</div>
</div>


</div>
</div>

<script>
  $('.nav a:contains("About")').parent().addClass('active');
</script>