<div id="welcome-page">
	<div id="welcome-content">
		<div class="container-narrow">
			<br />
			<br />
			<br />
			<div class="jumbotron" style="background:none;">
				<h1>
					SmartProvider
				</h1>
				<p class="lead">
					Helping Nurses with Home Care
				</p>
				<%= button_to 'Create an Account', new_user_path, method: :get, class: "btn btn-large btn-success" %>
			<br />
			<br />
			<p>Already have an account? <%= link_to "Log In", login_path %></p>
			</div>
			<div class="footer">
				<b><center><p>
					<%= link_to "© SmartProvider 2013", about_path %>
				</b></center></p>
			</div>
		</div>

</div>

<div class="lightbox-bg"></div>
<div class="lightbox-box1">
	<%= render 'users/form' %>
</div>

<div class="lightbox-box2">
	<%= render 'login/form' %>
</div>
