<!--Navbar div -->

  <div class="container" >
 
  	<ul class="nav nav-tabs">
  		<div class="span6" style="width:70%; float:left;">
      <li><%= link_to "Notes", client_path(@current_client) %></li>
      <li class="active"><a href="#">Vitals</a></li>
      <li><%= link_to "Vitals History", client_vitals_path(@client) %></li>
    </ul>
      <h3>Vitals</h3>
        <label class="control-label">Add a new vital:</label>
        	<%= form_for [@client, Vital.new] do |f| %>
              <h4>Weight</h4>
                <div> Weight (lbs) <br> <%= f.text_field :weight%></div>
              <h4> Height</h4>
		            <div> Height (ft. in. ) <br> <%= f.text_field :height%></div>
		          <h4>Blood Pressure</h4>
		         		<div> Systolic (mmHg) <br> <%= f.text_field :systolic%> </div>
		          	<div> Diastolic (mmHg) <br> <%= f.text_field :diastolic%> </div>
		          	<div> Heart Beats Per Minute <br> <%= f.text_field :beats%> </div>
		          	<div> Location <br> <%= f.text_field :beats_location%> </div>
		          	<div> Condition <br> <%= f.text_field :beats_condition%> </div>
		          <h4>Blood Sugar</h4>
	          		<div> Blood Sugar (mmol/l)  <br> <%= f.text_field :blood_sugar%> </div>
	          		<div> Condition <br> <%= f.text_field :bs_condition%> </div>
		          <h4>Breathing</h4>
		          	<div> Breaths Per Minute  <br> <%= f.text_field :breaths%> </div>
	          		<div> Condition <br> <%= f.text_field :breaths_condition%> </div>
	          		<div> Description  <br> <%= f.text_field :breaths_description%> </div>
	          	<h4>Temperature</h4>
	          		<div> Temperature (C)  <br> <%= f.text_field :temperature%> </div>
	          	<br>
			   <%= f.submit "Add vitals", class: "btn btn-small btn-primary" %>
				<% end %>
      <br>
      </p>
      <hr>
    </div>
  </div>
	<div>