<div class="container-narrow">
  <div class="masthead">
    <h3><p class="text-muted">SmartProvider
    </p>
    </h3>
  </div>
  <hr>
  <center><div class="well" style="width: 300px">
    <h2>
      Welcome back!
    </h2>
    <p>
      SmartProvider is here to help you
    </p>
    
    <% if flash[:error] %>
      <h3><span class="label label-danger">
        <%= flash[:error] %>
      </span></h3>
    <% end %>

    <%= form_for @user, url: login_path do |f| %>
    <div style="float:left;">
      <%= f.label :email %>
    </div>
      <br>
    <div>
      <%= f.text_field :email, class: 'txtfield'%>
    </div>
    <div style="float:left;">
      <%= f.label :password %>
    </div>
      <br>
    <div>
      <%= f.password_field :password, class: 'txtfield' %>
    </div>
    <br>
    <div><%= f.submit "Login", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div></center>
  <div class="row-fluid marketing">
  </div>
  <hr>
  <div class="footer">
    <p>
      © SmartProvider 2013
    </p>
  </div>

</div>