<div class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="navbar-brand" style="padding-left: 40px;
    padding-right: 40px;">SmartProvider</li> 
	  <li>
      <%= link_to raw('<i class="glyphicon glyphicon-list-alt"> Glance</i>'), users_path, class: "btn btn-inverse btn-lg" %>
		</li>
		<li>
      <%= link_to raw('<i class="glyphicon glyphicon-user"> Clients</i>'), clients_path, class: "btn btn-inverse btn-lg" %>
		</li>
	</ul>
  
  <div class="navbar-form pull-right">
    <%= button_to 'Logout', logout_path, method: :get, class: "btn pull-right btn-primary" %>
  </div>
  <div class="navbar-form pull-right" style="display: inline-block">
  <% if @current_user %>
  <%= image_tag avatar_url(@current_user), size: "30" %> <%= link_to "#{@current_user.first_name} #{@current_user.last_name}", user_path(@current_user), class: "btn btn-inverse btn-lg", style: "color: #999999;" %>
  <% end %>
  </div>
  <div class="navbar-form pull-right" style="margin-left:-20px; margin-top: 15px;">
    <span class="glyphicon glyphicon-search" style="color: #fff;"></span>
  </div>
  <div class="navbar-form pull-right" style="margin-left:0px;">
    <%= form_tag(search_clients_path, method: :get) do -%>
      <%= search_field_tag :search, "Search Clients", class: "txtfield", style: "margin-top:5px; margin-bottom: 5px; margin-right:0px;" -%>
    <% end %>
  </div>
</div>