<!DOCTYPE html>
<html>
<head>
  <title>Smartprovider</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag 'gmaps4rails' %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if session[:user_id] %>
  <%= render "layouts/navbar" %>
  
<% end %>
<div class="content">
  <%= yield %>
</div>

<div class="lightbox-bg hide"></div>
<div class="lightbox-box hide"></div>

<%= yield :scripts %>
</html>
  