<!DOCTYPE html>
<html>
<head>
  <title>Smartprovider</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<!--Navbar div -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<ul class="nav navbar-nav">
		<li class="navbar-brand" style="padding-left: 40px;
		padding-right: 40px;">SmartProvider</li>
		<li><%= button_to 'Login', login_path, method: :get, class: "btn pull-right btn-primary" %></li>
	</ul>
</div>

<div class="content">
  <%= yield %>
</div>

</html>
